<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>대출 목록</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>대출 목록</h1>-->

<!--<table border="1">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>책 제목</th>-->
<!--    <th>대출 날짜</th>-->
<!--    <th>반납 날짜</th>-->
<!--    <th>상태</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  &lt;!&ndash; 대출 목록을 출력 &ndash;&gt;-->
<!--  <th:block th:each="loan : ${loans}">-->
<!--    <tr>-->
<!--      <td th:text="${loan.book.title}">책 제목</td>-->
<!--      <td th:text="${loan.loanDate}">대출 날짜</td>-->
<!--      <td th:text="${loan.returnDate}">반납 날짜</td>-->
<!--      <td th:text="${loan.status}">상태</td>-->
<!--    </tr>-->
<!--  </th:block>-->
<!--  </tbody>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->
