<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Books List</title>
</head>
<body>

<h1>Books List</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN</th>
    <th>Available Copies</th>
  </tr>
  </thead>
  <tbody>
  <!-- books라는 모델 데이터를 반복문을 통해 출력 -->
  <tr th:each="book : ${books}">
    <td th:text="${book.title}">Book Title</td>
    <td th:text="${book.author}">Author Name</td>
    <td th:text="${book.isbn}">ISBN Number</td>
    <td th:text="${book.availableCopies}">Available Copies</td>
  </tr>
  </tbody>
</table>

<!-- 페이징 버튼 추가 -->
<div>
  <span th:if="${currentPage > 0}">
    <a th:href="@{/books/list(page=${currentPage - 1})}">Previous</a>
  </span>
  <span th:text="'Page ' + (${currentPage + 1})"></span>
  <span th:if="${currentPage < totalPages - 1}">
    <a th:href="@{/books/list(page=${currentPage + 1})}">Next</a>
  </span>
</div>

</body>
</html>
